html, body {height:100%;}
body {background-color:#E6E6FA; margin:0; padding:0;  font-family:"Lato", Arial, Helvetica, sans-serif; }
* {box-sizing:border-box}
body * {line-height:1.4em}
h3 {margin-top:0px; font-size:22px; color:#666; font-weight:normal}
h3 strong {color: #000}

ol {
    list-style-type: upper-roman;
  }
  
ul,ol,dl,p {
    font-size: 1.5rem;
  }
  
  li, p {
    line-height: 1.5;
  }
  

